<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.ugr.redforest.museumsforeveryone">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.CAPTURE_VIDEO_OUTPUT" />
    <uses-permission android:name="android.permission.CAPTURE_SECURE_VIDEO_OUTPUT" />
    <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar">
        <activity android:name=".screens.ActivityLang" />
        <activity android:name=".screens.ActivityAccessibility" />
        <activity android:name=".screens.ActivityFirstView" />
        <activity android:name=".screens.ActivityInstructions" />
        <activity android:name=".screens.MainActivity" />
        <activity
            android:name=".screens.ActivityContentType"
            android:label="Obras" />
        <activity
            android:name=".screens.ActivitySplashScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.ActivityGuidedVisit"
            android:label="Visita Guiada" />
        <activity android:name=".screens.ActivityArtworkList" />
        <activity android:name=".screens.ActivityInfoScanner" />
        <activity android:name=".screens.ActivityQRScanner"
            android:label="QRScanner"/>
        <activity android:name=".screens.ActivityInfoDisplay"
                android:label="Información Obra"/>
        <activity android:name=".screens.ActivityVisitDisplay" />
        <activity android:name=".screens.ActivityArtworkDisplay" />
        <activity
            android:name=".screens.ActivityPreferences"
            android:label="Preferencias" />
        <activity android:name=".screens.ActivityAccessibilityPreferences" android:label="Accesibilidad"></activity>
        <activity android:name=".screens.ActivityRequestCameraPermission" />
        <activity android:name=".screens.ActivityNFCScanner" />
    </application>

</manifest>