<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.ugr.redforest.museumsforeveryone">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.CAPTURE_VIDEO_OUTPUT" />
    <uses-permission android:name="android.permission.CAPTURE_SECURE_VIDEO_OUTPUT" />
    <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar">
        <activity android:name=".screens.ActivityLang"
            android:screenOrientation="portrait"
        />
        <activity android:name=".screens.ActivityAccessibility"
            android:screenOrientation="portrait"/>
        <activity android:name=".screens.ActivityFirstView"
            android:screenOrientation="portrait"/>
        <activity android:name=".screens.ActivityInstructions"
            android:screenOrientation="portrait"/>
        <activity android:name=".screens.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screens.ActivityContentType"
            android:screenOrientation="portrait"
            android:label="Obras" />
        <activity
            android:name=".screens.ActivitySplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.ActivityGuidedVisit"
            android:screenOrientation="portrait"
            android:label="Visita Guiada" />
        <activity android:name=".screens.ActivityArtworkList"
            android:screenOrientation="portrait"/>
        <activity android:name=".screens.ActivityInfoScanner"
            android:screenOrientation="portrait"/>
        <activity android:name=".screens.ActivityQRScanner"
            android:screenOrientation="portrait"
            android:label="QRScanner"/>
        <activity android:name=".screens.ActivityInfoDisplay"
            android:screenOrientation="portrait"
                android:label="Información Obra"/>
        <activity android:name=".screens.ActivityVisitDisplay"
            android:screenOrientation="portrait"/>
        <activity android:name=".screens.ActivityArtworkDisplay"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screens.ActivityPreferences"
            android:screenOrientation="portrait"
            android:label="Preferencias" />
        <activity android:name=".screens.ActivityAccessibilityPreferences"
            android:label="Accesibilidad"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".screens.ActivityRequestCameraPermission"
            android:screenOrientation="portrait"/>
        <activity android:name=".screens.ActivityNFCScanner"
            android:screenOrientation="portrait"/>
        <activity android:name=".screens.ActivityInstructionsSlides"
             />
    </application>

</manifest>