<!DOCTYPE html>
<html lang="es">
	<head>
		<% include ../../partials/backend/head_backend %>
		<link rel="stylesheet" href="/static/css/src/content_types_b.css">
	</head>
	<body>
		<% include ../../partials/backend/sidemenu_backend %>

		<main class="grey lighten-3">
			<!-- Nav -->
			<% include ../../partials/backend/header_backend %>

			<div class="row content_start">
				<div id="btn_add_container" class="col s12">
				<!-- Add new localization button -->
				<a class="waves-effect waves-light btn modal-trigger" href="#add_localization">Añadir Localización</a>
				</div>
			</div>

			<!-- Table all localizations -->
			<div id="content-types-table" class="row">
				<table id="tabla_tipos_contenido" class="striped">
					<thead>
						<tr>
							<th data-field="id">#</th>
							<th data-field="descripcion">Descripción</th>
							<th data-field="coordenadas">Coordenadas</th>
							<th data-field="accion">Acción</th>
						</tr>
					</thead>

					<tbody>
						<% var count = 0;
						for(var i=0; i<localizations.length; i++) { %>
							<% count++; %>
							<tr>
							<td><%= localizations[i].ID %></td>
							<td><%= localizations[i].DESCRIPTION %></td>
							<td><%= localizations[i].COORDINATES %></td>
							<td class="actions">
								<a class="modal-trigger" href="#edit_localization"><i class="material-icons">mode_edit</i></a>
								<a class="modal-trigger" href="#delete_localization"><i class="material-icons">delete</i></a>
							</td>
							</tr>
						<% }
						if(count == 0) { %>
							<td colspan="5" id="no_content_types">NO HAY LOCALIZACIONES ACTUALMENTE</td>
						<% } %>
					</tbody>
				</table>
			</div>

			<!-- Add Localization Modal -->
			<% include ../../partials/backend/modals/modal_add_localization %>

			<!-- Edit Localization Modal -->
			<% include ../../partials/backend/modals/modal_edit_localization %>

			<!-- Delete Localization Modal -->
			<% include ../../partials/backend/modals/modal_delete_localization %>

		</main>

		<footer class="page-footer">
			<% include ../../partials/backend/footer_backend %>
		</footer>

		<% include ../../partials/backend/script_backend %>
		<% include ../../partials/backend/server_messages %>
		<script src="/static/js/src/localization_b.js"></script>
	</body>
</html>
