<div id="add_localization" class="modal modal_material modal-fixed-footer">
	<div class="modal-header z-depth-1">
		<h4>A침adir una nueva localizaci칩n</h4>
		<span><i class="modal_close modal-action modal-close material-icons right">close</i></span>
	</div>
	<form class="col s12 row" method="post" action="/backend/localizations/add/" autocomplete="off">
		<div class="modal-content">
			<!-- Description -->
			<div class="input-field col s12">
				<input id="add_description_localization" name="add_description_localization" type="text" required>
				<label for="add_description_localization">Descripci칩n</label>
			</div>

			<!-- NFC -->
			<div class="input-field col s12">
				<input id="add_nfc_localization" name="add_nfc_localization" type="text">
				<label for="add_nfc_localization">Etiqueta NFC</label>
			</div>

			<!-- QR -->
			<div class="input-field col s12">
				<input id="add_qr_localization" name="add_qr_localization" type="text">
				<label for="add_qr_localization">C칩digo QR</label>
			</div>

			<!-- Coordinates -->
			<div class="input-field col s12">
				<input id="add_coordinates_localization" name="add_coordinates_localization" type="text">
				<label for="add_coordinates_localization">Coordenadas (Formato: "x,y")</label>
			</div>
		</div>
		<div class="modal-footer">
			<!-- Submit -->
			<div class="input field col s12 center-align submit_modal">
				<button class="btn waves-effect waves-light" type="submit" name="add_submit_localization">
					<span>Enviar</span>
					<i class="material-icons right">send</i>
				</button>
			</div>
		</div>
	</form>
</div>