<div id="select_lang" class="modal modal_material modal-fixed-footer">
	<div id="select_lang_loader" class="modal_loader preloader-wrapper big active">
		<div class="spinner-layer spinner-custom">
			<div class="circle-clipper left">
				<div class="circle"></div>
			</div>
			<div class="gap-patch">
				<div class="circle"></div>
			</div>
			<div class="circle-clipper right">
				<div class="circle"></div>
			</div>
		</div>
	</div>
	<div class="modal-header z-depth-1">
		<h4>Seleccionar un idioma</h4>
		<span><i class="modal_close modal-action modal-close material-icons right">close</i></span>
	</div>
	<div class="modal-content">
		<div class="row">
			<div id="lang_selection" class="col s12"></div>
		</div>
	</div>
	<div class="modal-footer">
		<a id="select_lang_submit" class="waves-effect waves-light btn">AÑADIR</a>
	</div>
</div>
