<div id="edit_content_type" class="modal modal_material modal-fixed-footer">
	<div id="content_type_loader" class="modal_loader preloader-wrapper big active">
		<div class="spinner-layer spinner-custom">
			<div class="circle-clipper left">
				<div class="circle"></div>
			</div>
			<div class="gap-patch">
				<div class="circle"></div>
			</div>
			<div class="circle-clipper right">
				<div class="circle"></div>
			</div>
		</div>
	</div>
	<div class="modal-header z-depth-1">
		<h4>Editar Tipo de Contenido</h4>
		<span><i class="modal_close modal-action modal-close material-icons right">close</i></span>
	</div>
	<form class="col s12" method="post" action="/backend/contentTypes/edit/" enctype="multipart/form-data">
		<div class="modal-content">
			<div class="row">
				<input id="edit_id_content_type" type="hidden" name="edit_id_content_type" />

				<!-- Name -->
				<div class="input-field col s12">
					<input id="edit_name_content_type" name="edit_name_content_type" type="text" class="validate" placeholder="">
					<label for="edit_name_content_type">Nombre</label>
				</div>

				<!-- Description -->
				<div class="input-field col s12">
					<input id="edit_description_content_type" name="edit_description_content_type" type="text" placeholder="">
					<label for="edit_description_content_type">Descripción</label>
				</div>

				<!-- Previous Icon -->
				<input id="edit_previous_icon_content_type" type="hidden" name="edit_previous_icon_content_type" />

				<!-- Foto Portada -->
				<div class="file-field input-field col s12 m6">
					<div class="btn">
						<span>Icono</span>
						<input id="edit_icon_content_type" name="edit_icon_content_type" type="file">
					</div>
						<div class="file-path-wrapper">
						<input class="file-path validate" type="text">
					</div>
				</div>

				<div class="col s12 m6 center-align">
					<img id="editIconImgViewer" class="imagePreview responsive-img" src="/static/img/img_not_available.png" alt=""/>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<!-- Submit -->
			<div class="input field col s12 center-align submit_modal">
				<button class="btn waves-effect waves-light" type="submit" name="edit_submit_content_type">
					<span>Editar</span>
					<i class="material-icons right">send</i>
				</button>
			</div>
		</div>
	</form>
</div>
