<nav>
	<div class="nav-wrapper z-depth-1">
		<div id="breadcrumb_container">
			<a href="/backend/" class="breadcrumb hide-on-small-only">Dashboard</a>
			<a href="<%= breadcrumb.LINK %>" class="breadcrumb"><%= breadcrumb.SECTION %></a>
		</div>
	</div>
</nav>