<!-- views/partials/head.ejs -->

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="UTF-8">

<title>Museums for Everyone - Administración</title>

<!-- ViewPort -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- Icon -->
<link rel="icon" href="/static/img/icon.png">

<!-- CSS Materialize -->
<link rel="stylesheet" href="/static/css/lib/materialize.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Font Awesome CDN -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

<!-- Custom -->
<link rel="stylesheet" href="/static/css/src/core_common.css">
<link rel="stylesheet" href="/static/css/src/core_b.css">
