main {
  min-height: calc(100vh - 50px);
}
#visit-table {
  padding: 0 50px;
}
@media only screen and (max-width: 600px) {
  #visit-table {
    padding: 0 20px;
  }
}
#visit-table .actions {
  min-width: 65px;
}
#no_visits {
  text-align: center;
}
